In [1]:
import pandas as pd

# Pandas Series

In [ ]:
mylist1 = [22,33,'Tata','Birla','ISRO',44,'MRF']

In [ ]:
ps1 = pd.Series(mylist1)
print(ps1)
print(type(ps1))

In [ ]:
ps1.index

In [ ]:
ps1[[3,1,4,2]]

In [ ]:
ps1.values

In [ ]:
indexlist=['r0','r1','r2','r3','r4','r5','r6']

In [ ]:
ps2 = pd.Series(mylist1, index=indexlist)
print(ps2)

In [ ]:
ps3 = pd.Series([100,200,300,400,500,600,700,800],index=['q1e','q2e','q3e','q4e','q5e','q6e','q7e','q8e'])
print(ps3)

In [ ]:
ps3.index

In [ ]:
ps3.values

In [ ]:
ps3.itemsize

In [ ]:
ps3.size

In [ ]:
ps3.ndim

In [ ]:
ps3.shape

In [ ]:
print(ps3)

In [ ]:
ps3['q3e']

In [ ]:
ps3['q2e':'q4e']

In [ ]:
ps3[['q3e','q1e','q2e']]

In [ ]:
print(ps3)

In [ ]:
ps3[ps3>=400]

In [ ]:
ps3[ps3>=400]=499
print(ps3)

In [ ]:
ps3['q9e'] = 999

In [ ]:
print(ps3)

In [ ]:
ps33 = ps3-ps3

In [ ]:
ps33

In [ ]:
psrev = pd.Series({'Tata':200, 'Reliance':300, 'MRF':400, 'Apollo':500,'IR':700})
psexp = pd.Series({'Tata':100, 'Reliance':200, 'MRF':300, 'Apollo':400,'IR':999,'Admin':500})
print(psrev)
print(psexp)

In [ ]:
pspl = psrev - psexp
print(pspl)

In [ ]:
psrev[psrev == psrev.max()]

In [ ]:
mask = pspl == pspl.min()
print(mask)
pspl[mask]

# Pandas DataFrames

In [2]:
df = pd.DataFrame({'Tata':[300,200], 'MRF':[450,350], 'Birla':[250,200], 'IR':[900,1200], 
                   'INFY':[800,600]},index=['Vol','Exp'])
print(df)

     Tata  MRF  Birla    IR  INFY
Vol   300  450    250   900   800
Exp   200  350    200  1200   600

In [3]:
df = pd.DataFrame({'Vol':[300,450,250,900,800], 'Exp':[200,350,200,1200,600]}, index=['Tata','MRF','Birla','IR','INFY'])
print(df)

       Vol   Exp
Tata   300   200
MRF    450   350
Birla  250   200
IR     900  1200
INFY   800   600

In [ ]:
df = pd.read_csv('C:/Users/Classroom/Desktop/W2/d2/profit.csv')

In [4]:
print(df)

       Vol   Exp
Tata   300   200
MRF    450   350
Birla  250   200
IR     900  1200
INFY   800   600

In [ ]:
type(df)

In [5]:
df.index

Index(['Tata', 'MRF', 'Birla', 'IR', 'INFY'], dtype='object')

In [6]:
df.columns

Index(['Vol', 'Exp'], dtype='object')

In [7]:
df.values

array([[ 300,  200],
       [ 450,  350],
       [ 250,  200],
       [ 900, 1200],
       [ 800,  600]], dtype=int64)

In [8]:
df.shape

(5, 2)

In [9]:
df.ndim

2

In [10]:
df

       Vol   Exp
Tata   300   200
MRF    450   350
Birla  250   200
IR     900  1200
INFY   800   600

# df Access

In [ ]:
print(df)

In [ ]:
df['Vol']

In [ ]:
df['HCL']

In [ ]:
s1 = df['Vol']

In [ ]:
print(s1)

In [ ]:
type(s1)

In [ ]:
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['Vol'].max()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df['Vol'].min()

In [ ]:
df.mean()

In [ ]:
df['Exp'].mean()

In [ ]:
df.sum()

In [ ]:
df

In [ ]:
df.sum(axis=1)

# iLOC

In [ ]:
print(df)
s = df.iloc[0]
print(s)
print(type(s))

In [ ]:
i = df.iloc[0,0]
print(type(i))

In [ ]:
df.iloc[3,4]

In [ ]:
df1 = df.iloc[1:4, 2:4]
print(df1)
print(type(df1))

In [ ]:
df1 = df.iloc[1:4]

In [ ]:
print(df1)

In [ ]:
df1 = df.iloc[:,2:4]

In [ ]:
print(df1)

In [ ]:
df.iloc[[3,1,2]]

In [ ]:
df.iloc[[3,1,2], [3,4,1,2]]

In [ ]:
df.iloc[1:5:2, [3,4,2]]

In [ ]:
df.iloc[[3,4,2], 1:5:2]

In [ ]:
df

In [ ]:
df.iloc[[0,-1],[0,-1]]

In [ ]:
df.loc['IR','Exp']

In [ ]:
df

In [ ]:
df.loc['HCL']

In [ ]:
df.loc['HCL':'Birla', 'Rev':'EmpCnt']

In [ ]:
df.loc[['BCCI','MRF','Birla']]

In [ ]:
df.loc[['BCCI','MRF','Birla'], ['Exp','HQ']]

In [ ]:
df.loc['MRF':'BCCI',  ['Exp','HQ']]

In [ ]:
print(df)

In [ ]:
df.count()

In [ ]:
df['Vol'].count()

In [ ]:
df['HQ'].count()

In [ ]:
df['HQ'].value_counts()

In [ ]:
df

In [ ]:
df.Catg.value_counts()

In [ ]:
df

# Conditional Access

In [ ]:
mask = df['Vol'] == df['Vol'].max()
print(mask)
print(df[mask])

In [ ]:
df[df['Rev']==df['Rev'].min()]

In [ ]:
mask = df['Catg'] == 'Gov'
df1 = df[mask]

In [ ]:
print(df1)

In [ ]:
df1.index

In [ ]:
for item in df1.index:
    print(item)

In [ ]:
df1

In [ ]:
df1['HQ']

In [ ]:
df1['HQ'].values

In [ ]:
for item in df1.HQ:
    print(item)

In [149]:
df

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
Apollo    966  863  608  Pub    1656  Che
IR        954  833  609  Gov   13023  NCR

In [ ]:
df[(df.Catg == 'Pub')  &   (df.HQ == 'Che')]

In [ ]:
print(mask)