In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("profit.csv")
print(df1)
print(df1.index)
print(df1.columns)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
Index(['HCL', 'MRF', 'ISROACL', 'Reliance', 'BCCI', 'Birla', 'Flipkart', 'TSL',
       'IR'],
      dtype='object')
Index(['Vol', 'Rev', 'Exp', 'Catg', 'EmpCnt', 'HQ'], dtype='object')

# Access Columns

In [3]:
print(df1['Rev'])
print(df1.Rev  )

HCL         863
MRF         821
ISROACL     881
Reliance    217
BCCI        839
Birla       874
Flipkart    805
TSL         863
IR          833
Name: Rev, dtype: int64
HCL         863
MRF         821
ISROACL     881
Reliance    217
BCCI        839
Birla       874
Flipkart    805
TSL         863
IR          833
Name: Rev, dtype: int64

In [4]:
print(df1[['Rev', 'Vol', 'Exp']])

          Rev  Vol  Exp
HCL       863  931  605
MRF       821  992  665
ISROACL   881  931  650
Reliance  217  899  674
BCCI      839  925  615
Birla     874  900  676
Flipkart  805  966  695
TSL       863  966  608
IR        833  954  609

# iloc based Access

In [17]:
print(df1)
print(df1.iloc[0,0])
print(df1.iloc[1,1])
print(df1.iloc[4,2])

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
931
821
615

In [6]:
print(df1)
print(df1.iloc[[0,2,4],1])
print(df1.iloc[[0,4,3],[1,2,0]])

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
HCL        863
ISROACL    881
BCCI       839
Name: Rev, dtype: int64
          Rev  Exp  Vol
HCL       863  605  931
BCCI      839  615  925
Reliance  217  674  899

In [7]:
print(df1)
print(df1.iloc[0:3,1:5])
print(df1.iloc[1:4:2,0:4:2])

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
         Rev  Exp Catg  EmpCnt
HCL      863  605  Pub    1935
MRF      821  665  Pub    1154
ISROACL  881  650  Gov    1361
          Vol  Exp
MRF       992  665
Reliance  899  674

In [8]:
print(df1)
print(df1.iloc[[2,4,3],2:4])
print(df1.iloc[1:6:2,4:1:-1])
print(df1.iloc[2:4])
print(df1.iloc[:,2:4])

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
          Exp Catg
ISROACL   650  Gov
BCCI      615  Pvt
Reliance  674  Pub
          EmpCnt Catg  Exp
MRF         1154  Pub  665
Reliance    1443  Pub  674
Birla       1379  Pub  676
          Vol  Rev  Exp Catg  EmpCnt   HQ
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
          Exp Catg
HCL       605  Pub
MRF       665  Pub
ISROACL   650  Gov
Reliance  674  Pub
BCCI      615  Pvt
Birla     676  Pub
Flipkart  695  Pvt
TSL       608  Pub
IR        609  Gov

In [9]:
print(df1.iloc[[True,True]])

     Vol  Rev  Exp Catg  EmpCnt   HQ
HCL  931  863  605  Pub    1935  NCR
MRF  992  821  665  Pub    1154  Che

In [10]:
mask = [True,False,True]
print(df1.iloc[mask])

         Vol  Rev  Exp Catg  EmpCnt   HQ
HCL      931  863  605  Pub    1935  NCR
ISROACL  931  881  650  Gov    1361  Blr

In [11]:
print(df1.iloc[[True, True], [True, True, True]])

     Vol  Rev  Exp
HCL  931  863  605
MRF  992  821  665

In [12]:
print(df1)
print(df1.iloc[[True,True,False,True, True],[True,True,False]])

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
          Vol  Rev
HCL       931  863
MRF       992  821
Reliance  899  217
BCCI      925  839

# loc based Access

In [13]:
print(df1)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR

In [14]:
print(df1.loc['MRF'])
print(df1.loc['MRF','Vol'])
print(df1.loc[['MRF','TSL'],'Vol'])
print(df1.loc[['MRF','TSL', 'BCCI'],['Vol','Exp','Catg']])
print(df1.loc['MRF':'TSL',['Vol','Exp','Catg']])
print(df1.loc['MRF':'TSL','Rev':'Catg'])
print(df1.loc['MRF':'TSL':2,'Rev':'EmpCnt':2])
print(df1.loc['MRF':'TSL':2,:])
print(df1.loc[:,'Rev':'EmpCnt':2])

Vol        992
Rev        821
Exp        665
Catg       Pub
EmpCnt    1154
HQ         Che
Name: MRF, dtype: object
992
MRF    992
TSL    966
Name: Vol, dtype: int64
      Vol  Exp Catg
MRF   992  665  Pub
TSL   966  608  Pub
BCCI  925  615  Pvt
          Vol  Exp Catg
MRF       992  665  Pub
ISROACL   931  650  Gov
Reliance  899  674  Pub
BCCI      925  615  Pvt
Birla     900  676  Pub
Flipkart  966  695  Pvt
TSL       966  608  Pub
          Rev  Exp Catg
MRF       821  665  Pub
ISROACL   881  650  Gov
Reliance  217  674  Pub
BCCI      839  615  Pvt
Birla     874  676  Pub
Flipkart  805  695  Pvt
TSL       863  608  Pub
          Rev Catg
MRF       821  Pub
Reliance  217  Pub
Birla     874  Pub
TSL       863  Pub
          Vol  Rev  Exp Catg  EmpCnt   HQ
MRF       992  821  665  Pub    1154  Che
Reliance  899  217  674  Pub    1443  Mum
Birla     900  874  676  Pub    1379  Kol
TSL       966  863  608  Pub    1656  Jmd
          Rev Catg
HCL       863  Pub
MRF       821  Pub
ISROACL   881  Gov
Reliance  217  Pub
BCCI      839  Pvt
Birla     874  Pub
Flipkart  805  Pvt
TSL       863  Pub
IR        833  Gov

# Conditional Access

In [15]:
print(df1)
print(df1.index)
print(df1[df1 != 900])
#print(df1.index %2 == 0)
#print(df1.iloc[df1.index%2==0])

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
Index(['HCL', 'MRF', 'ISROACL', 'Reliance', 'BCCI', 'Birla', 'Flipkart', 'TSL',
       'IR'],
      dtype='object')
            Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931.0  863  605  Pub    1935  NCR
MRF       992.0  821  665  Pub    1154  Che
ISROACL   931.0  881  650  Gov    1361  Blr
Reliance  899.0  217  674  Pub    1443  Mum
BCCI      925.0  839  615  Pvt     154  Mum
Birla       NaN  874  676  Pub    1379  Kol
Flipkart  966.0  805  695  Pvt     119  Blr
TSL       966.0  863  608  Pub    1656  Jmd
IR        954.0  833  609  Gov   13023  NCR

In [16]:
print(df1)
mask = df1.loc[:,'Vol'] != 900
print(mask)
mv = mask.values
print(mv)
df2 = df1.loc[[True]]
print(df2)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
HCL          True
MRF          True
ISROACL      True
Reliance     True
BCCI         True
Birla       False
Flipkart     True
TSL          True
IR           True
Name: Vol, dtype: bool
[ True  True  True  True  True False  True  True  True]
     Vol  Rev  Exp Catg  EmpCnt   HQ
HCL  931  863  605  Pub    1935  NCR