# Concat function

In [32]:
import pandas as pd

df1 = pd.read_csv("profit.csv")
df2 = pd.read_csv("profit1.csv")

print(df1)
print(df2)

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option('display.width', 2000)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pvt    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
TSL       966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR
            Vol  Rev  Expn  Grp  EmpCnt   HQ
MRF         192  221   165  Pub    1154  Che
TCS         131  263   105  Pub    1935  Mum
Infosys     199  217   174  Pub    1443  Blr
ISL         125  239   115  Pvt     154  NCR
Birlagroup  100  274   176  Pub    1379  Kol
IBM         131  281   150  MNC    1361  NCR
Microsoft   166  205   195  MNC     119  Hyd
Leyland     166  263   108  Pub    1656  Che
TI          154  233   109  MNC   13023  Blr

In [33]:
dfc = pd.concat([df1,df2],axis=1,join="outer",sort=False)
print(dfc)

              Vol    Rev    Exp Catg   EmpCnt   HQ    Vol    Rev   Expn  Grp   EmpCnt   HQ
HCL         931.0  863.0  605.0  Pub   1935.0  NCR    NaN    NaN    NaN  NaN      NaN  NaN
MRF         992.0  821.0  665.0  Pub   1154.0  Che  192.0  221.0  165.0  Pub   1154.0  Che
ISROACL     931.0  881.0  650.0  Gov   1361.0  Blr    NaN    NaN    NaN  NaN      NaN  NaN
Reliance    899.0  217.0  674.0  Pvt   1443.0  Mum    NaN    NaN    NaN  NaN      NaN  NaN
BCCI        925.0  839.0  615.0  Pvt    154.0  Mum    NaN    NaN    NaN  NaN      NaN  NaN
Birla       900.0  874.0  676.0  Pub   1379.0  Kol    NaN    NaN    NaN  NaN      NaN  NaN
Flipkart    966.0  805.0  695.0  Pvt    119.0  Blr    NaN    NaN    NaN  NaN      NaN  NaN
TSL         966.0  863.0  608.0  Pub   1656.0  Jmd    NaN    NaN    NaN  NaN      NaN  NaN
IR          954.0  833.0  609.0  Gov  13023.0  NCR    NaN    NaN    NaN  NaN      NaN  NaN
TCS           NaN    NaN    NaN  NaN      NaN  NaN  131.0  263.0  105.0  Pub   1935.0  Mum
Infosys       NaN    NaN    NaN  NaN      NaN  NaN  199.0  217.0  174.0  Pub   1443.0  Blr
ISL           NaN    NaN    NaN  NaN      NaN  NaN  125.0  239.0  115.0  Pvt    154.0  NCR
Birlagroup    NaN    NaN    NaN  NaN      NaN  NaN  100.0  274.0  176.0  Pub   1379.0  Kol
IBM           NaN    NaN    NaN  NaN      NaN  NaN  131.0  281.0  150.0  MNC   1361.0  NCR
Microsoft     NaN    NaN    NaN  NaN      NaN  NaN  166.0  205.0  195.0  MNC    119.0  Hyd
Leyland       NaN    NaN    NaN  NaN      NaN  NaN  166.0  263.0  108.0  Pub   1656.0  Che
TI            NaN    NaN    NaN  NaN      NaN  NaN  154.0  233.0  109.0  MNC  13023.0  Blr

In [34]:
dfc = pd.concat([df1,df2], axis =1, join = 'inner',sort=False)
print(dfc)

     Vol  Rev  Exp Catg  EmpCnt   HQ  Vol  Rev  Expn  Grp  EmpCnt   HQ
MRF  992  821  665  Pub    1154  Che  192  221   165  Pub    1154  Che

In [35]:
dfk = pd.concat([df1,df2], axis = 1, join_axes=[df1.index],sort=False)
print(dfk)
dfk.index

          Vol  Rev  Exp Catg  EmpCnt   HQ    Vol    Rev   Expn  Grp  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR    NaN    NaN    NaN  NaN     NaN  NaN
MRF       992  821  665  Pub    1154  Che  192.0  221.0  165.0  Pub  1154.0  Che
ISROACL   931  881  650  Gov    1361  Blr    NaN    NaN    NaN  NaN     NaN  NaN
Reliance  899  217  674  Pvt    1443  Mum    NaN    NaN    NaN  NaN     NaN  NaN
BCCI      925  839  615  Pvt     154  Mum    NaN    NaN    NaN  NaN     NaN  NaN
Birla     900  874  676  Pub    1379  Kol    NaN    NaN    NaN  NaN     NaN  NaN
Flipkart  966  805  695  Pvt     119  Blr    NaN    NaN    NaN  NaN     NaN  NaN
TSL       966  863  608  Pub    1656  Jmd    NaN    NaN    NaN  NaN     NaN  NaN
IR        954  833  609  Gov   13023  NCR    NaN    NaN    NaN  NaN     NaN  NaN

Index(['HCL', 'MRF', 'ISROACL', 'Reliance', 'BCCI', 'Birla', 'Flipkart', 'TSL', 'IR'], dtype='object')

In [39]:
dfk = pd.concat([df1,df2], axis = 1, join = 'outer', 
                keys=['set1', 'set2'], sort=False)

print(dfk.head(10))

           set1                                    set2
            Vol    Rev    Exp Catg   EmpCnt   HQ    Vol    Rev   Expn  Grp  EmpCnt   HQ
HCL       931.0  863.0  605.0  Pub   1935.0  NCR    NaN    NaN    NaN  NaN     NaN  NaN
MRF       992.0  821.0  665.0  Pub   1154.0  Che  192.0  221.0  165.0  Pub  1154.0  Che
ISROACL   931.0  881.0  650.0  Gov   1361.0  Blr    NaN    NaN    NaN  NaN     NaN  NaN
Reliance  899.0  217.0  674.0  Pvt   1443.0  Mum    NaN    NaN    NaN  NaN     NaN  NaN
BCCI      925.0  839.0  615.0  Pvt    154.0  Mum    NaN    NaN    NaN  NaN     NaN  NaN
Birla     900.0  874.0  676.0  Pub   1379.0  Kol    NaN    NaN    NaN  NaN     NaN  NaN
Flipkart  966.0  805.0  695.0  Pvt    119.0  Blr    NaN    NaN    NaN  NaN     NaN  NaN
TSL       966.0  863.0  608.0  Pub   1656.0  Jmd    NaN    NaN    NaN  NaN     NaN  NaN
IR        954.0  833.0  609.0  Gov  13023.0  NCR    NaN    NaN    NaN  NaN     NaN  NaN
TCS         NaN    NaN    NaN  NaN      NaN  NaN  131.0  263.0  105.0  Pub  1935.0  Mum

In [38]:
dfk.columns

MultiIndex(levels=[['set1', 'set2'], ['Catg', 'EmpCnt', 'Exp', 'Expn', 'Grp', 'HQ', 'Rev', 'Vol']],
           labels=[[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1], [7, 6, 2, 0, 1, 5, 7, 6, 3, 4, 1, 5]])

In [42]:
dfk.loc['MRF', [('set1','Vol'),('set2','Vol')]]

set1  Vol    992
set2  Vol    192
Name: MRF, dtype: object

In [ ]:
dfk.index

In [ ]:
print(dfk.loc[[('set1','HCL'),('set2','TCS')],'Vol'])