<span style="font-family: Arial; font-weight:bold;font-size:2em;color:#8707ff;"> groupby()

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv("profit.csv")
print(df)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       992  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
Apollo    966  863  608  Pub    1656  Che
IR        954  833  609  Gov   13023  NCR

In [3]:
dfg = df.groupby(['Catg'])

In [4]:
dfg.describe()

       Vol                                                          Rev                                                         Exp                                                        EmpCnt
     count   mean        std    min     25%    50%     75%    max count   mean         std    min    25%    50%    75%    max count   mean        std    min     25%    50%     75%    max  count    mean          std     min      25%     50%       75%      max
Catg
Gov    2.0  942.5  16.263456  931.0  936.75  942.5  948.25  954.0   2.0  857.0   33.941125  833.0  845.0  857.0  869.0  881.0   2.0  629.5  28.991378  609.0  619.25  629.5  639.75  650.0    2.0  7192.0  8246.279282  1361.0  4276.50  7192.0  10107.50  13023.0
Pub    5.0  949.8  47.129609  899.0  900.00  966.0  992.00  992.0   5.0  727.6  286.153455  217.0  821.0  863.0  863.0  874.0   5.0  645.6  35.948574  605.0  608.00  665.0  674.00  676.0    5.0  1513.4   295.917725  1154.0  1379.00  1443.0   1656.00   1935.0
Pvt    2.0  945.5  28.991378  925.0  935.25  945.5  955.75  966.0   2.0  822.0   24.041631  805.0  813.5  822.0  830.5  839.0   2.0  655.0  56.568542  615.0  635.00  655.0  675.00  695.0    2.0   136.5    24.748737   119.0   127.75   136.5    145.25    154.0

In [5]:
dfg['Vol'].describe()

      count   mean        std    min     25%    50%     75%    max
Catg
Gov     2.0  942.5  16.263456  931.0  936.75  942.5  948.25  954.0
Pub     5.0  949.8  47.129609  899.0  900.00  966.0  992.00  992.0
Pvt     2.0  945.5  28.991378  925.0  935.25  945.5  955.75  966.0

In [6]:
dfg.first()

      Vol  Rev  Exp  EmpCnt   HQ
Catg
Gov   931  881  650    1361  Blr
Pub   992  863  605    1935  NCR
Pvt   925  839  615     154  Mum

In [7]:
df.groupby('Catg').mean()

        Vol    Rev    Exp  EmpCnt
Catg
Gov   942.5  857.0  629.5  7192.0
Pub   949.8  727.6  645.6  1513.4
Pvt   945.5  822.0  655.0   136.5

In [8]:
df.groupby('Catg').mean()['Rev']

Catg
Gov    857.0
Pub    727.6
Pvt    822.0
Name: Rev, dtype: float64

In [9]:
dfg = df.groupby(['Catg', 'HQ'])

In [10]:
dfg = df.groupby(['Catg', 'HQ']).mean()
print(dfg)

            Vol    Rev    Exp   EmpCnt
Catg HQ
Gov  Blr  931.0  881.0  650.0   1361.0
     NCR  954.0  833.0  609.0  13023.0
Pub  Che  979.0  842.0  636.5   1405.0
     Kol  900.0  874.0  676.0   1379.0
     Mum  899.0  217.0  674.0   1443.0
     NCR  992.0  863.0  605.0   1935.0
Pvt  Blr  966.0  805.0  695.0    119.0
     Mum  925.0  839.0  615.0    154.0

In [11]:
gdf = df.groupby(['Catg', 'HQ']).agg(['min', 'max'])
print(gdf)

          Vol       Rev       Exp      EmpCnt
          min  max  min  max  min  max    min    max
Catg HQ
Gov  Blr  931  931  881  881  650  650   1361   1361
     NCR  954  954  833  833  609  609  13023  13023
Pub  Che  966  992  821  863  608  665   1154   1656
     Kol  900  900  874  874  676  676   1379   1379
     Mum  899  899  217  217  674  674   1443   1443
     NCR  992  992  863  863  605  605   1935   1935
Pvt  Blr  966  966  805  805  695  695    119    119
     Mum  925  925  839  839  615  615    154    154

In [12]:
mndf = df.groupby('Catg').apply(np.mean)
print(mndf)

        Vol    Rev    Exp  EmpCnt
Catg
Gov   942.5  857.0  629.5  7192.0
Pub   949.8  727.6  645.6  1513.4
Pvt   945.5  822.0  655.0   136.5

In [13]:
def userfn_minmaxdiff(temp):
    x = temp.max()-temp.min()
    return x

In [14]:
#print(df)
udf = df.groupby('Catg')['Vol','Rev','Exp'].apply(userfn_minmaxdiff)
print(udf)

      Vol  Rev  Exp
Catg
Gov    23   48   41
Pub    93  657   71
Pvt    41   34   80