# Merge function

In [20]:
import pandas as pd


df1 = pd.read_csv("empdata11.csv")
df2 = pd.read_csv("empdata12.csv")


print(df1); print(); print(df2)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option('display.width', 1000)

       emp   dept location
0     anil  admin      blr
1     raju    eng      che
2    sunil    eng      blr
3  sandeep     hr      che

       emp  start location1
0    vijay   2004       che
1    sunil   2008       blr
2   sachin   2012       mum
3  sandeep   2014       blr

In [2]:
#print(df1); print(); print(df2); print()
dfc = pd.merge(df1,df2,on='emp',how='inner')
print(dfc)

       emp dept location  start location1
0    sunil  eng      blr   2008       blr
1  sandeep   hr      del   2014       pun

In [4]:
#print(df1); print(); print(df2); print()
dfc = pd.merge(df1,df2, on='emp',how='outer',indicator=True)
print(dfc)

       emp   dept location   start location1      _merge
0     anil  admin      blr     NaN       NaN   left_only
1     raju    eng      hyd     NaN       NaN   left_only
2    sunil    eng      blr  2008.0       blr        both
3  sandeep     hr      del  2014.0       pun        both
4    vijay    NaN      NaN  2004.0       che  right_only
5   sachin    NaN      NaN  2012.0       mum  right_only

In [5]:
#print(df1); print(); print(df2); print()
dfc = pd.merge(df1,df2, on='emp',how='left',indicator=True)
print(dfc)

       emp   dept location   start location1     _merge
0     anil  admin      blr     NaN       NaN  left_only
1     raju    eng      hyd     NaN       NaN  left_only
2    sunil    eng      blr  2008.0       blr       both
3  sandeep     hr      del  2014.0       pun       both

In [10]:
#print(df1); print(); print(df2); print()
dfc = pd.merge(df1,df2, on='emp',how='right',indicator=True)
print(dfc)

       emp dept location  start location1      _merge
0    sunil  eng      blr   2008       blr        both
1  sandeep   hr      del   2014       pun        both
2    vijay  NaN      NaN   2004       che  right_only
3   sachin  NaN      NaN   2012       mum  right_only

In [21]:
print(df1); print(); print(df2); print()
dfi = pd.merge(df1, df2, left_on='location',right_on='location1',how='inner',indicator=True)#,suffixes=('_left', '_right'))
print(dfi)

       emp   dept location
0     anil  admin      blr
1     raju    eng      che
2    sunil    eng      blr
3  sandeep     hr      che

       emp  start location1
0    vijay   2004       che
1    sunil   2008       blr
2   sachin   2012       mum
3  sandeep   2014       blr

     emp_x   dept location    emp_y  start location1 _merge
0     anil  admin      blr    sunil   2008       blr   both
1     anil  admin      blr  sandeep   2014       blr   both
2    sunil    eng      blr    sunil   2008       blr   both
3    sunil    eng      blr  sandeep   2014       blr   both
4     raju    eng      che    vijay   2004       che   both
5  sandeep     hr      che    vijay   2004       che   both

In [19]:
print(df1); print(); print(df2); print()
dfi = pd.merge(df1, df2, left_on='location',right_on='location1',how='outer',indicator=True)
print(dfi)

       emp   dept location
0     anil  admin      blr
1     raju    eng      hyd
2    sunil    eng      blr
3  sandeep     hr      del

       emp  start location1
0    vijay   2004       che
1    sunil   2008       blr
2   sachin   2012       mum
3  sandeep   2014       blr

     emp_x   dept location    emp_y   start location1      _merge
0     anil  admin      blr    sunil  2008.0       blr        both
1     anil  admin      blr  sandeep  2014.0       blr        both
2    sunil    eng      blr    sunil  2008.0       blr        both
3    sunil    eng      blr  sandeep  2014.0       blr        both
4     raju    eng      hyd      NaN     NaN       NaN   left_only
5  sandeep     hr      del      NaN     NaN       NaN   left_only
6      NaN    NaN      NaN    vijay  2004.0       che  right_only
7      NaN    NaN      NaN   sachin  2012.0       mum  right_only