In [2]:
import pandas as pd
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
pd.set_option("display.width",1000)

<span style="font-family: Arial; font-weight:bold;font-size:1.50em;color:#7604ce;"> Reading the mtcars.csv

In [4]:
df = pd.read_csv('mtcars.csv')
#print(df)
df.head()

               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
model    32 non-null object
mpg      32 non-null float64
cyl      32 non-null int64
disp     32 non-null float64
hp       32 non-null int64
drat     32 non-null float64
wt       32 non-null float64
qsec     32 non-null float64
vs       32 non-null int64
am       32 non-null int64
gear     32 non-null int64
carb     32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [6]:
df.describe()

             mpg        cyl        disp          hp       drat         wt       qsec         vs         am       gear     carb
count  32.000000  32.000000   32.000000   32.000000  32.000000  32.000000  32.000000  32.000000  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  146.687500   3.596563   3.217250  17.848750   0.437500   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694   68.562868   0.534679   0.978457   1.786943   0.504016   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000  14.500000   0.000000   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250  16.892500   0.000000   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000  17.710000   0.000000   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000  18.900000   1.000000   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  335.000000   4.930000   5.424000  22.900000   1.000000   1.000000   5.000000   8.0000

In [7]:
df['hp'].mean()

146.6875

In [12]:
df.index

RangeIndex(start=0, stop=32, step=1)

In [8]:
print(df['hp'].max())
print(df['hp'].min())
print(df[df['hp']==df['hp'].max()])  # highest hp car
print(df[df['hp']==df['hp'].min()])  # lowest hp car

print(df[df['mpg']==df['mpg'].max()])  # highest hp car
print(df[df['mpg']==df['mpg'].min()])  # lowest hp car

335
52
            model   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
          model   mpg  cyl  disp  hp  drat     wt   qsec  vs  am  gear  carb
18  Honda Civic  30.4    4  75.7  52  4.93  1.615  18.52   1   1     4     2
             model   mpg  cyl  disp  hp  drat     wt  qsec  vs  am  gear  carb
19  Toyota Corolla  33.9    4  71.1  65  4.22  1.835  19.9   1   1     4     1
                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4

In [13]:
#print(df['hp']<53)
print(df[df['mpg']<21]['model'].count())

18

In [15]:
print(df['model'].value_counts().head())

Ford Pantera L    1
Merc 450SE        1
Datsun 710        1
Merc 240D         1
Ferrari Dino      1
Name: model, dtype: int64
3    15
4    12
5     5
Name: gear, dtype: int64

In [16]:
print(df['gear'].value_counts())

3    15
4    12
5     5
Name: gear, dtype: int64

In [17]:
df[df['gear']==5]['model']

26     Porsche 914-2
27      Lotus Europa
28    Ford Pantera L
29      Ferrari Dino
30     Maserati Bora
Name: model, dtype: object

In [20]:
df1 = df[(df['gear']==5 ) & (df['mpg'] > 15)]
#print(df1)
#print(len(df1))
#print(df1.count())
print(df1['model'].value_counts())
print(df1['model'].value_counts().count())

Ford Pantera L    1
Porsche 914-2     1
Ferrari Dino      1
Lotus Europa      1
Name: model, dtype: int64
4