# Pivot Table

In [ ]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("profit.csv")
print(df)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pvt    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
Apollo    966  863  608  Pub    1656  Jmd
IR        954  833  609  Gov   13023  NCR

In [ ]:
df2 = pd.pivot_table(df, index=['HQ'], aggfunc='mean')
print(df2)
print(type(df2))
print(df2.index)

In [ ]:
df2 = pd.pivot_table(df, index=['Catg'], aggfunc='sum')
print(df2)

In [ ]:
df2 = pd.pivot_table(df, index=['Catg','HQ'], aggfunc='sum')
print(df2)

In [ ]:
df2.index

In [ ]:
#print(df)
df2 = pd.pivot_table(df, index=['Catg','HQ'], aggfunc=[np.sum, np.mean])
print(df2)

In [ ]:
print(df)
df2 = pd.pivot_table(df, index=['Catg','HQ'], aggfunc=[np.sum, np.mean,lambda x : x//2])
print(df2)

In [14]:
#print(df)
df3 = df.pivot_table(index='Catg',columns = 'HQ',values=['Rev','Vol'], aggfunc='mean')
print(df3)

        Rev                                       Vol                       \
HQ      Blr    Che    Jmd    Kol    Mum    NCR    Blr    Che    Jmd    Kol
Catg
Gov   881.0    NaN    NaN    NaN    NaN  833.0  931.0    NaN    NaN    NaN
Pub     NaN  821.0  863.0  874.0    NaN  863.0    NaN  992.0  966.0  900.0
Pvt   805.0    NaN    NaN    NaN  528.0    NaN  966.0    NaN    NaN    NaN


HQ      Mum    NCR
Catg
Gov     NaN  954.0
Pub     NaN  931.0
Pvt   912.0    NaN