In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("profit.csv")
print(df)

          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
Apollo    966  863  608  Pub    1656  Che
IR        954  833  609  Gov   13023  NCR

In [13]:
df1=df.sort_index(inplace=False, ascending=True,axis=1)
print(df1)
print(df)

         Catg  EmpCnt  Exp   HQ  Rev  Vol
HCL       Pub    1935  605  NCR  863  931
MRF       Pub    1154  665  Che  821  992
ISROACL   Gov    1361  650  Blr  881  931
Reliance  Pub    1443  674  Mum  217  899
BCCI      Pvt     154  615  Mum  839  925
Birla     Pub    1379  676  Kol  874  900
Flipkart  Pvt     119  695  Blr  805  966
Apollo    Pub    1656  608  Che  863  966
IR        Gov   13023  609  NCR  833  954
          Vol  Rev  Exp Catg  EmpCnt   HQ
HCL       931  863  605  Pub    1935  NCR
MRF       992  821  665  Pub    1154  Che
ISROACL   931  881  650  Gov    1361  Blr
Reliance  899  217  674  Pub    1443  Mum
BCCI      925  839  615  Pvt     154  Mum
Birla     900  874  676  Pub    1379  Kol
Flipkart  966  805  695  Pvt     119  Blr
Apollo    966  863  608  Pub    1656  Che
IR        954  833  609  Gov   13023  NCR

In [ ]:
df=df.sort_index(ascending=False)
print(df)

In [20]:
print(df.head(2))
df1 = df.sort_values(by=['Vol','Rev'],ascending=[True,False])
print(df1)

     Vol  Rev  Exp Catg  EmpCnt   HQ
HCL  931  863  605  Pub    1935  NCR
MRF  992  821  665  Pub    1154  Che
          Vol  Rev  Exp Catg  EmpCnt   HQ
Reliance  899  217  674  Pub    1443  Mum
Birla     900  874  676  Pub    1379  Kol
BCCI      925  839  615  Pvt     154  Mum
ISROACL   931  881  650  Gov    1361  Blr
HCL       931  863  605  Pub    1935  NCR
IR        954  833  609  Gov   13023  NCR
Apollo    966  863  608  Pub    1656  Che
Flipkart  966  805  695  Pvt     119  Blr
MRF       992  821  665  Pub    1154  Che

In [29]:
print(df.head(2))
df.drop(['HQ','Catg'],inplace=True, axis=1)
df.drop('Flipkart',inplace=True,axis=0)
print(df)
df.sort_values(by='MRF',axis=1,ascending=False)

     Vol  Rev  Exp Catg  EmpCnt   HQ
HCL  931  863  605  Pub    1935  NCR
MRF  992  821  665  Pub    1154  Che
          Vol  Rev  Exp  EmpCnt
HCL       931  863  605    1935
MRF       992  821  665    1154
ISROACL   931  881  650    1361
Reliance  899  217  674    1443
BCCI      925  839  615     154
Birla     900  874  676    1379
Apollo    966  863  608    1656
IR        954  833  609   13023

          EmpCnt  Vol  Rev  Exp
HCL         1935  931  863  605
MRF         1154  992  821  665
ISROACL     1361  931  881  650
Reliance    1443  899  217  674
BCCI         154  925  839  615
Birla       1379  900  874  676
Apollo      1656  966  863  608
IR         13023  954  833  609

In [ ]:
df.sort_values(by=['Vol', 'Rev'],ascending=[True,False])

In [ ]:
df.sort_values("Vol", inplace = True) 
df