# Stack function

In [2]:
import pandas as pd

header = pd.MultiIndex.from_product([['Sem1','Sem2'],['3_Months','6_Months'],['ML','Python']])

d=[[12,45,67,56,45,34,23,67],[78,89,45,67,45,23,78,57],[45,67,89,90,24,57,46,97],[67,44,56,55,13,43,62,84]]

df = pd.DataFrame(d,
                  index=['James','Anil','Sunil','Smriti'],
                  columns=header)
print(df)

           Sem1                            Sem2
       3_Months        6_Months        3_Months        6_Months
             ML Python       ML Python       ML Python       ML Python
James        12     45       67     56       45     34       23     67
Anil         78     89       45     67       45     23       78     57
Sunil        45     67       89     90       24     57       46     97
Smriti       67     44       56     55       13     43       62     84

In [4]:
print(df.columns)

MultiIndex(levels=[['Sem1', 'Sem2'], ['3_Months', '6_Months'], ['ML', 'Python']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 0, 1, 1, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]])

In [3]:
print(df.index)

Index(['James', 'Anil', 'Sunil', 'Smriti'], dtype='object')

In [6]:
#print(df)
stacked_df=df.stack()
print(stacked_df)
#df.to_csv("dfstack")

                  Sem1              Sem2
              3_Months 6_Months 3_Months 6_Months
James  ML           12       67       45       23
       Python       45       56       34       67
Anil   ML           78       45       45       78
       Python       89       67       23       57
Sunil  ML           45       89       24       46
       Python       67       90       57       97
Smriti ML           67       56       13       62
       Python       44       55       43       84

In [10]:
print(stacked_df.loc[('Smriti','ML'),('Sem1','6_Months')])

56

In [18]:
s1 = stacked_df.Sem1
print(s1['6_Months'])

James   ML        67
        Python    56
Anil    ML        45
        Python    67
Sunil   ML        89
        Python    90
Smriti  ML        56
        Python    55
Name: 6_Months, dtype: int64

In [7]:
stacked_df.columns

MultiIndex(levels=[['Sem1', 'Sem2'], ['3_Months', '6_Months']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [8]:
stacked_df.index

MultiIndex(levels=[['James', 'Anil', 'Sunil', 'Smriti'], ['ML', 'Python']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])

In [21]:
#print(df)
stacked_df=df.stack(level=0)
print(stacked_df)

            3_Months        6_Months
                  ML Python       ML Python
James  Sem1       12     45       67     56
       Sem2       45     34       23     67
Anil   Sem1       78     89       45     67
       Sem2       45     23       78     57
Sunil  Sem1       45     67       89     90
       Sem2       24     57       46     97
Smriti Sem1       67     44       56     55
       Sem2       13     43       62     84

In [ ]:
stacked_df=df.stack(level=1)
print(stacked_df)

# Unstack

In [23]:
print(stacked_df)
unstacked_df = stacked_df.unstack(level=0)
print(unstacked_df)

            3_Months        6_Months
                  ML Python       ML Python
James  Sem1       12     45       67     56
       Sem2       45     34       23     67
Anil   Sem1       78     89       45     67
       Sem2       45     23       78     57
Sunil  Sem1       45     67       89     90
       Sem2       24     57       46     97
Smriti Sem1       67     44       56     55
       Sem2       13     43       62     84
     3_Months                                            6_Months             \
           ML                   Python                         ML
        James Anil Sunil Smriti  James Anil Sunil Smriti    James Anil Sunil
Sem1       12   78    45     67     45   89    67     44       67   45    89
Sem2       45   45    24     13     34   23    57     43       23   78    46


            Python
     Smriti  James Anil Sunil Smriti
Sem1     56     56   67    90     55
Sem2     62     67   57    97     84

In [ ]:
unstacked_df

# Melt

In [24]:
data = {
    "location":['Bangalore', 'Chennai'],
    "Temperature" : ["Predict", "Actual"],
    "Jan-2019":[30, 32],
    "Feb-2019":[45, 43],
    "Mar-2019":[24, 22]
}
df = pd.DataFrame(data)
print(df)

    location Temperature  Jan-2019  Feb-2019  Mar-2019
0  Bangalore     Predict        30        45        24
1    Chennai      Actual        32        43        22

In [28]:
df2 = pd.melt(df, id_vars=["location", "Temperature"], var_name="melted_col_labels", value_name="melted_col_values")
print(df2)

    location Temperature melted_col_labels  melted_col_values
0  Bangalore     Predict          Jan-2019                 30
1    Chennai      Actual          Jan-2019                 32
2  Bangalore     Predict          Feb-2019                 45
3    Chennai      Actual          Feb-2019                 43
4  Bangalore     Predict          Mar-2019                 24
5    Chennai      Actual          Mar-2019                 22

In [ ]:
print(df)