# IN CLASS LAB EXERCISE - 02

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('Automobile.csv')

(Kaggle Automobile Dataset)

 We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

**INCLASS LAB EXERCISE** answer below question. Load pandas as pd and upload the Automobile.csv file as auto


1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

--------

In [ ]:
import pandas as pd

**Q.no(1). Check the head of the DataFrame.**

In [ ]:
df.head()

------------------

**Q.no(2). How many rows and columns are there.**

In [ ]:
df.shape

---------------------

**Q.no(3). What is the average Price of all cars in the dataset.**

In [ ]:
df['price'].mean()

-------------------------------

**Q.no(4). Which is the cheapest make and costliest make of car in the lot.**

In [ ]:
# print(df[df['price']==df['price'].min()])
# print(df[df['price']==df['price'].max()])

print('Costliest Make:',df[df['price']==df['price'].max()].make.values)
print('Cheapest Make:',df[df['price']==df['price'].min()].make.values)

--------------------

**Q.no(5). How many cars have horsepower greater than 100.**

In [ ]:
print(df[df['horsepower']>100]['make'].count())

----------------

**Q.no(6). How many hatchback cars are in the dataset .**

In [ ]:
print(df[df['body_style']=='hatchback']['make'].count())

-------------------

**Q.no(7). What are the 3 most commonly found cars in the dataset?**

In [ ]:
print(df['make'].value_counts().head(3))

-----

**Q.no(8). Someone purchased a car for 7099, what is the make of the car?**

In [ ]:
print(df[df['price']==7099]['make'].values)

-------------

**Q.no(9). Which cars are priced greater than 40000.**

In [ ]:
a=df[df['price']>40000]['make'].values
print(set(a))

---

**Q.no(10). Which are the cars that are both a sedan and priced less than 7000?**

In [ ]:
a=df[(df['body_style']=='sedan') & (df['price']<7000)]['make'].values
print(set(a))

---------------

**Q.no(11) Show the prices of cars in ascending order.**

In [ ]:
df.sort_values(by='price')

--------

**Q.no(12).Show the prices of the cars in descending order.**

In [ ]:
df.sort_values(by='price',ascending=False)

----------------

**Q.no(12).What is the rank order of the cars as per there horsepower.**

In [ ]:
df['rank']=df['horsepower'].rank(ascending=False)

In [ ]:
df

---------------------

**Q.no(13).What is the rank order of the cars as per there minimum prices.**

In [ ]:
df['price_rank']=df['price'].rank(ascending=True)
df

------

**Q.no(14).What is the rank order of the cars as per there maximum prices.**

In [ ]:
df['price_rank_des']=df['price'].rank(ascending=False)
df

-------------

**Q.no(15).What is the dense rank order of the cars as per there horsepower.**

In [ ]:
df['dense_rank']=df['horsepower'].rank(ascending=True,method='dense')
df

--------------

**Q.no(16). Write a code to display the  `make` and `price` of `5,6,10` rows.**

In [ ]:
df.iloc[[5,6,10],[2,25]]

------

**Q.no(17). Write a code to display the  `first five columns` and  `5 to 10 rows` using as per `index position`.**

In [ ]:
df.iloc[5:10,0:5]

------------------------------------

# ----------------------------------HAPPY LEARNING----------------------------------------

-------